<div class="container-fluid p-0 m-0 h-100 w-100">
    <div class="row h-100">
      <div class="m-auto col-sm-12 col-md-12 col-lg-12">
        <div class="content-card">
          <div class="container-fluid">
            <div class="row">
              <div
                class="col-sm-12 col-md-12 d-flex align-items-center flex-sm-column flex-md-row justify-content-center">
                <h4 class="font-name-jacques-francois-shadow m-0 color-green">Eco-Citoyens CI</h4>
                <div class="container-img">
                  <img alt="Icon" src="assets/images/full-trash.png">
                </div>
              </div>
  
              <div class="col-12 mt-1 mb-1">
                <div class="container-img-login m-auto">
                  <img alt="Avatar" src="assets/images/male-uer.png">
                </div>
              </div>
  
              <div class="col-12 mb-3">
                <h6 class="font-name-jet-brains-mono text-center">
                  Enregistrement d'un dechet
                </h6>
              </div>
  
              <div *ngIf="message" [ngClass]="{
                'alert': true,
                'alert-success': message.startsWith('L\'utilisateur a été créé'),
                'alert-danger': message.startsWith('Erreur lors de la création')
              }">
              {{ message }}
              <button type="button" class="close" aria-label="Close" (click)="message = ''">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
  
              <form [formGroup]="dechetForm" class="container-fluid">
                <div class="row mb-3">
                  <div class="col-sm-12 col-md-6 mb-2">
                    <div class="filed-input p-2">
                      <div class="col field">
                        <input class="form-control" name="libelle" formControlName="libelle" placeholder="Dechet..........."
                               type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 mb-2">
                    <div class="filed-input p-2">
                      <div class="col field">
                        <input class="form-control" name="origine" formControlName="origine" placeholder="Origine..........."
                               type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 mb-2">
                    <div class="filed-input p-2">
                      <div class="col field">
                        <select class="form-select" name="typedechet" required="required" formControlName="typedechet">
                            <option value="">Type de dechet...............</option>
                            <option *ngFor="let item of typeDechets" [value]="item.id">{{item.libelle}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 mb-2">
                    <div class="filed-input p-2">
                      <div class="col field">
                        <input type="file" name="image" formControlName="image" class="form-control" required placeholder="Choisir une photo.........">
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="col-12 mt-2 mb-2 justify-content-center d-flex mt-2">
                <button (click)="submitForm()" name="inscription" class="text-white bg-success btn align-items-center text-center w-25">
                  <label>Enregistrement</label>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  